/JuranClient/JuranClient/Vendors/JSMessagesTableViewController/Resources/.DS_Store
.DS_Store
/JuranClient/JuranClient.xcodeproj/project (Kowloon's MBP 的冲突副本 2015-01-04).pbxproj
/JuranClient/JuranClient.xcodeproj/project.xcworkspace/xcuserdata/Kowloon.xcuserdatad/UserInterfaceState.xcuserstate
/JuranClient/JuranClient.xcodeproj/project.xcworkspace/xcuserdata/Kowloon.xcuserdatad/
/JuranClient/JuranClient.xcodeproj/project.xcworkspace/xcuserdata/Sean.xcuserdatad/UserInterfaceState.xcuserstate
/JuranClient/JuranClient.xcodeproj/xcuserdata/Kowloon.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/JuranClient/JuranClient.xcodeproj/xcuserdata/Kowloon.xcuserdatad/xcschemes/JuranDesigner.xcscheme
/JuranClient/JuranClient.xcodeproj/xcuserdata/Kowloon.xcuserdatad/xcschemes/xcschememanagement.plist
/JuranClient/JuranClient.xcodeproj/xcuserdata/Sean.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
/JuranClient/JuranClient.xcodeproj/xcuserdata/Sean.xcuserdatad/xcschemes/JuranDesigner.xcscheme
/JuranClient/JuranClient.xcodeproj/xcuserdata/Sean.xcuserdatad/xcschemes/xcschememanagement.plist
/JuranClient/JuranClient/.DS_Store
/JuranClient/JuranClient/Images.xcassets/.DS_Store
/JuranClient/JuranClient/Images/JuranCustomer/Share/.DS_Store
/JuranClient/JuranClient/service副本.html
/JuranClient/JuranClient/Vendors/.DS_Store
/JuranClient/JuranClient/Vendors/AlipaySDK/.DS_Store
/JuranClient/.DS_Store
/.DS_Store