<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>renovationStyle</key>
	<array>
		<dict>
			<key>k</key>
			<string>混搭</string>
			<key>v</key>
			<string>mashup</string>
		</dict>
		<dict>
			<key>k</key>
			<string>欧式</string>
			<key>v</key>
			<string>european</string>
		</dict>
		<dict>
			<key>k</key>
			<string>中式</string>
			<key>v</key>
			<string>chinese</string>
		</dict>
		<dict>
			<key>k</key>
			<string>新古典</string>
			<key>v</key>
			<string>newClassical</string>
		</dict>
		<dict>
			<key>k</key>
			<string>东南亚</string>
			<key>v</key>
			<string>eastSourthAsia</string>
		</dict>
		<dict>
			<key>k</key>
			<string>美式</string>
			<key>v</key>
			<string>america</string>
		</dict>
		<dict>
			<key>k</key>
			<string>田园</string>
			<key>v</key>
			<string>countryside</string>
		</dict>
		<dict>
			<key>k</key>
			<string>地中海</string>
			<key>v</key>
			<string>mediterranean</string>
		</dict>
		<dict>
			<key>k</key>
			<string>韩式</string>
			<key>v</key>
			<string>kora</string>
		</dict>
		<dict>
			<key>k</key>
			<string>日式</string>
			<key>v</key>
			<string>japanese</string>
		</dict>
		<dict>
			<key>k</key>
			<string>现代</string>
			<key>v</key>
			<string>modern</string>
		</dict>
		<dict>
			<key>k</key>
			<string>其他</string>
			<key>v</key>
			<string>other</string>
		</dict>
	</array>
	<key>roomNum</key>
	<array>
		<dict>
			<key>k</key>
			<string>一室</string>
			<key>v</key>
			<string>1</string>
		</dict>
		<dict>
			<key>k</key>
			<string>二室</string>
			<key>v</key>
			<string>2</string>
		</dict>
		<dict>
			<key>k</key>
			<string>三室</string>
			<key>v</key>
			<string>3</string>
		</dict>
		<dict>
			<key>k</key>
			<string>四室</string>
			<key>v</key>
			<string>4</string>
		</dict>
		<dict>
			<key>k</key>
			<string>五室</string>
			<key>v</key>
			<string>5</string>
		</dict>
		<dict>
			<key>k</key>
			<string>LOFT</string>
			<key>v</key>
			<string>loft</string>
		</dict>
		<dict>
			<key>k</key>
			<string>别墅</string>
			<key>v</key>
			<string>villadom</string>
		</dict>
		<dict>
			<key>k</key>
			<string>其他</string>
			<key>v</key>
			<string>other</string>
		</dict>
		<dict>
			<key>k</key>
			<string>小户型</string>
			<key>v</key>
			<string>little</string>
		</dict>
	</array>
	<key>houseType</key>
	<array>
		<dict>
			<key>k</key>
			<string>住宅空间</string>
			<key>v</key>
			<string>residential</string>
		</dict>
		<dict>
			<key>k</key>
			<string>餐饮空间</string>
			<key>v</key>
			<string>catering</string>
		</dict>
		<dict>
			<key>k</key>
			<string>办公空间</string>
			<key>v</key>
			<string>office</string>
		</dict>
		<dict>
			<key>k</key>
			<string>酒店空间</string>
			<key>v</key>
			<string>hotel</string>
		</dict>
		<dict>
			<key>k</key>
			<string>商业展示</string>
			<key>v</key>
			<string>commercial</string>
		</dict>
		<dict>
			<key>k</key>
			<string>娱乐空间</string>
			<key>v</key>
			<string>entertainment</string>
		</dict>
		<dict>
			<key>k</key>
			<string>休闲场所</string>
			<key>v</key>
			<string>leisure</string>
		</dict>
		<dict>
			<key>k</key>
			<string>文化空间</string>
			<key>v</key>
			<string>culture</string>
		</dict>
		<dict>
			<key>k</key>
			<string>医疗机构</string>
			<key>v</key>
			<string>medical</string>
		</dict>
		<dict>
			<key>k</key>
			<string>售楼中心</string>
			<key>v</key>
			<string>salescenter</string>
		</dict>
		<dict>
			<key>k</key>
			<string>金融场所</string>
			<key>v</key>
			<string>financial</string>
		</dict>
		<dict>
			<key>k</key>
			<string>运动场所</string>
			<key>v</key>
			<string>movement</string>
		</dict>
		<dict>
			<key>k</key>
			<string>教育机构</string>
			<key>v</key>
			<string>education</string>
		</dict>
		<dict>
			<key>k</key>
			<string>其他</string>
			<key>v</key>
			<string>other</string>
		</dict>
	</array>
	<key>livingroomCount</key>
	<array>
        <dict>
            <key>k</key>
            <string></string>
            <key>v</key>
            <string></string>
        </dict>
		<dict>
			<key>k</key>
			<string>一厅</string>
			<key>v</key>
			<string>1</string>
		</dict>
		<dict>
			<key>k</key>
			<string>二厅</string>
			<key>v</key>
			<string>2</string>
		</dict>
		<dict>
			<key>k</key>
			<string>三厅</string>
			<key>v</key>
			<string>3</string>
		</dict>
		<dict>
			<key>k</key>
			<string>四厅</string>
			<key>v</key>
			<string>4</string>
		</dict>
		<dict>
			<key>k</key>
			<string>五厅</string>
			<key>v</key>
			<string>5</string>
		</dict>
	</array>
	<key>bathroomCount</key>
	<array>
        <dict>
            <key>k</key>
            <string></string>
            <key>v</key>
            <string></string>
        </dict>
		<dict>
			<key>k</key>
			<string>一卫</string>
			<key>v</key>
			<string>1</string>
		</dict>
		<dict>
			<key>k</key>
			<string>二卫</string>
			<key>v</key>
			<string>2</string>
		</dict>
		<dict>
			<key>k</key>
			<string>三卫</string>
			<key>v</key>
			<string>3</string>
		</dict>
		<dict>
			<key>k</key>
			<string>四卫</string>
			<key>v</key>
			<string>4</string>
		</dict>
		<dict>
			<key>k</key>
			<string>五卫</string>
			<key>v</key>
			<string>5</string>
		</dict>
	</array>
</dict>
</plist>
