<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>style</key>
	<array>
		<dict>
			<key>k</key>
			<string>混搭</string>
			<key>v</key>
			<string>mashup</string>
		</dict>
		<dict>
			<key>k</key>
			<string>欧式</string>
			<key>v</key>
			<string>european</string>
		</dict>
		<dict>
			<key>k</key>
			<string>中式</string>
			<key>v</key>
			<string>chinese</string>
		</dict>
		<dict>
			<key>k</key>
			<string>新古典</string>
			<key>v</key>
			<string>newClassical</string>
		</dict>
		<dict>
			<key>k</key>
			<string>东南亚</string>
			<key>v</key>
			<string>eastSourthAsia</string>
		</dict>
		<dict>
			<key>k</key>
			<string>美式</string>
			<key>v</key>
			<string>america</string>
		</dict>
		<dict>
			<key>k</key>
			<string>田园</string>
			<key>v</key>
			<string>countryside</string>
		</dict>
		<dict>
			<key>k</key>
			<string>地中海</string>
			<key>v</key>
			<string>mediterranean</string>
		</dict>
		<dict>
			<key>k</key>
			<string>韩式</string>
			<key>v</key>
			<string>kora</string>
		</dict>
		<dict>
			<key>k</key>
			<string>日式</string>
			<key>v</key>
			<string>japanese</string>
		</dict>
		<dict>
			<key>k</key>
			<string>现代</string>
			<key>v</key>
			<string>modern</string>
		</dict>
		<dict>
			<key>k</key>
			<string>其他</string>
			<key>v</key>
			<string>other</string>
		</dict>
	</array>
	<key>roomType</key>
	<array>
		<dict>
			<key>k</key>
			<string>一室</string>
			<key>v</key>
			<string>1</string>
		</dict>
		<dict>
			<key>k</key>
			<string>二室</string>
			<key>v</key>
			<string>2</string>
		</dict>
		<dict>
			<key>k</key>
			<string>三室</string>
			<key>v</key>
			<string>3</string>
		</dict>
		<dict>
			<key>k</key>
			<string>四室</string>
			<key>v</key>
			<string>4</string>
		</dict>
		<dict>
			<key>k</key>
			<string>五室</string>
			<key>v</key>
			<string>5</string>
		</dict>
		<dict>
			<key>k</key>
			<string>LOFT</string>
			<key>v</key>
			<string>loft</string>
		</dict>
		<dict>
			<key>k</key>
			<string>复式</string>
			<key>v</key>
			<string>complex</string>
		</dict>
		<dict>
			<key>k</key>
			<string>别墅</string>
			<key>v</key>
			<string>villadom</string>
		</dict>
		<dict>
			<key>k</key>
			<string>其他</string>
			<key>v</key>
			<string>other</string>
		</dict>
		<dict>
			<key>k</key>
			<string>小户型</string>
			<key>v</key>
			<string>little</string>
		</dict>
	</array>
	<key>houseType</key>
	<array>
		<dict>
			<key>k</key>
			<string>住宅空间</string>
			<key>v</key>
			<string>residential</string>
		</dict>
		<dict>
			<key>k</key>
			<string>餐饮空间</string>
			<key>v</key>
			<string>catering</string>
		</dict>
		<dict>
			<key>k</key>
			<string>办公空间</string>
			<key>v</key>
			<string>office</string>
		</dict>
		<dict>
			<key>k</key>
			<string>酒店空间</string>
			<key>v</key>
			<string>hotel</string>
		</dict>
		<dict>
			<key>k</key>
			<string>商业展示</string>
			<key>v</key>
			<string>commercial</string>
		</dict>
		<dict>
			<key>k</key>
			<string>娱乐空间</string>
			<key>v</key>
			<string>entertainment</string>
		</dict>
		<dict>
			<key>k</key>
			<string>休闲场所</string>
			<key>v</key>
			<string>leisure</string>
		</dict>
		<dict>
			<key>k</key>
			<string>文化空间</string>
			<key>v</key>
			<string>culture</string>
		</dict>
		<dict>
			<key>k</key>
			<string>医疗机构</string>
			<key>v</key>
			<string>medical</string>
		</dict>
		<dict>
			<key>k</key>
			<string>售楼中心</string>
			<key>v</key>
			<string>salescenter</string>
		</dict>
		<dict>
			<key>k</key>
			<string>金融场所</string>
			<key>v</key>
			<string>financial</string>
		</dict>
		<dict>
			<key>k</key>
			<string>运动场所</string>
			<key>v</key>
			<string>movement</string>
		</dict>
		<dict>
			<key>k</key>
			<string>教育机构</string>
			<key>v</key>
			<string>education</string>
		</dict>
		<dict>
			<key>k</key>
			<string>其他</string>
			<key>v</key>
			<string>other</string>
		</dict>
	</array>
	<key>livingroomCount</key>
	<array>
		<dict>
			<key>k</key>
			<string></string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>一厅</string>
			<key>v</key>
			<string>1</string>
		</dict>
		<dict>
			<key>k</key>
			<string>二厅</string>
			<key>v</key>
			<string>2</string>
		</dict>
		<dict>
			<key>k</key>
			<string>三厅</string>
			<key>v</key>
			<string>3</string>
		</dict>
		<dict>
			<key>k</key>
			<string>四厅</string>
			<key>v</key>
			<string>4</string>
		</dict>
		<dict>
			<key>k</key>
			<string>五厅</string>
			<key>v</key>
			<string>5</string>
		</dict>
	</array>
	<key>bathroomCount</key>
	<array>
		<dict>
			<key>k</key>
			<string></string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>一卫</string>
			<key>v</key>
			<string>1</string>
		</dict>
		<dict>
			<key>k</key>
			<string>二卫</string>
			<key>v</key>
			<string>2</string>
		</dict>
		<dict>
			<key>k</key>
			<string>三卫</string>
			<key>v</key>
			<string>3</string>
		</dict>
		<dict>
			<key>k</key>
			<string>四卫</string>
			<key>v</key>
			<string>4</string>
		</dict>
		<dict>
			<key>k</key>
			<string>五卫</string>
			<key>v</key>
			<string>5</string>
		</dict>
	</array>
	<key>experience</key>
	<array>
		<dict>
			<key>k</key>
			<string>2年以下</string>
			<key>v</key>
			<string>0,2</string>
		</dict>
		<dict>
			<key>k</key>
			<string>2-5年</string>
			<key>v</key>
			<string>2,5</string>
		</dict>
		<dict>
			<key>k</key>
			<string>6-10年</string>
			<key>v</key>
			<string>6,10</string>
		</dict>
		<dict>
			<key>k</key>
			<string>10年以上</string>
			<key>v</key>
			<string>10</string>
		</dict>
	</array>
	<key>isRealNameAuth</key>
	<array>
		<dict>
			<key>k</key>
			<string>认证通过</string>
			<key>v</key>
			<string>auth</string>
		</dict>
		<dict>
			<key>k</key>
			<string>没认证或未通过</string>
			<key>v</key>
			<string>unauth</string>
		</dict>
	</array>
	<key>levelCode</key>
	<array>
		<dict>
			<key>k</key>
			<string>普通</string>
			<key>v</key>
			<string>design_one</string>
		</dict>
		<dict>
			<key>k</key>
			<string>优秀</string>
			<key>v</key>
			<string>design_two</string>
		</dict>
		<dict>
			<key>k</key>
			<string>资深</string>
			<key>v</key>
			<string>design_three</string>
		</dict>
		<dict>
			<key>k</key>
			<string>主任</string>
			<key>v</key>
			<string>design_four</string>
		</dict>
		<dict>
			<key>k</key>
			<string>首席</string>
			<key>v</key>
			<string>design_five</string>
		</dict>
	</array>
	<key>houseArea</key>
	<array>
		<dict>
			<key>k</key>
			<string>60m²以下</string>
			<key>v</key>
			<string>0,60</string>
		</dict>
		<dict>
			<key>k</key>
			<string>60-80m²</string>
			<key>v</key>
			<string>60,80</string>
		</dict>
		<dict>
			<key>k</key>
			<string>80-120m²</string>
			<key>v</key>
			<string>80,120</string>
		</dict>
		<dict>
			<key>k</key>
			<string>120m²以上</string>
			<key>v</key>
			<string>120</string>
		</dict>
	</array>
	<key>questionType</key>
	<array>
		<dict>
			<key>k</key>
			<string>账户管理</string>
			<key>v</key>
			<string>account</string>
		</dict>
		<dict>
			<key>k</key>
			<string>设计疑惑</string>
			<key>v</key>
			<string>design</string>
		</dict>
		<dict>
			<key>k</key>
			<string>装修前后</string>
			<key>v</key>
			<string>decoration</string>
		</dict>
		<dict>
			<key>k</key>
			<string>商品选购</string>
			<key>v</key>
			<string>goods</string>
		</dict>
		<dict>
			<key>k</key>
			<string>DIY工具使用困境</string>
			<key>v</key>
			<string>diy</string>
		</dict>
		<dict>
			<key>k</key>
			<string>其他</string>
			<key>v</key>
			<string>other</string>
		</dict>
	</array>
	<key>status</key>
	<array>
		<dict>
			<key>k</key>
			<string>默认</string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>未解决</string>
			<key>v</key>
			<string>unresolved</string>
		</dict>
		<dict>
			<key>k</key>
			<string>已解决</string>
			<key>v</key>
			<string>resolved</string>
		</dict>
	</array>
	<key>sex</key>
	<array>
		<dict>
			<key>k</key>
			<string>保密</string>
			<key>v</key>
			<string>0</string>
		</dict>
		<dict>
			<key>k</key>
			<string>女</string>
			<key>v</key>
			<string>1</string>
		</dict>
		<dict>
			<key>k</key>
			<string>男</string>
			<key>v</key>
			<string>2</string>
		</dict>
	</array>
	<key>projectRoom</key>
	<array>
		<dict>
			<key>k</key>
			<string>客厅</string>
			<key>v</key>
			<string>livingroom</string>
		</dict>
		<dict>
			<key>k</key>
			<string>卧室</string>
			<key>v</key>
			<string>bedroom</string>
		</dict>
		<dict>
			<key>k</key>
			<string>厨房</string>
			<key>v</key>
			<string>cookhouse</string>
		</dict>
		<dict>
			<key>k</key>
			<string>餐厅</string>
			<key>v</key>
			<string>dingroom</string>
		</dict>
		<dict>
			<key>k</key>
			<string>卫生间</string>
			<key>v</key>
			<string>washroom</string>
		</dict>
		<dict>
			<key>k</key>
			<string>阳台</string>
			<key>v</key>
			<string>balcony</string>
		</dict>
		<dict>
			<key>k</key>
			<string>玄关</string>
			<key>v</key>
			<string>hallway</string>
		</dict>
		<dict>
			<key>k</key>
			<string>书房</string>
			<key>v</key>
			<string>study</string>
		</dict>
		<dict>
			<key>k</key>
			<string>楼梯</string>
			<key>v</key>
			<string>stairs</string>
		</dict>
		<dict>
			<key>k</key>
			<string>衣帽间</string>
			<key>v</key>
			<string>coatroom</string>
		</dict>
		<dict>
			<key>k</key>
			<string>儿童房</string>
			<key>v</key>
			<string>kidsroom</string>
		</dict>
		<dict>
			<key>k</key>
			<string>其他</string>
			<key>v</key>
			<string>other</string>
		</dict>
	</array>
	<key>bidInfoStatus</key>
	<array>
		<dict>
			<key>k</key>
			<string>待审核</string>
			<key>v</key>
			<string>01_waitAudit</string>
		</dict>
		<dict>
			<key>k</key>
			<string>审核拒绝</string>
			<key>v</key>
			<string>02_refusal</string>
		</dict>
		<dict>
			<key>k</key>
			<string>进行中</string>
			<key>v</key>
			<string>03_pass</string>
		</dict>
		<dict>
			<key>k</key>
			<string>已完成</string>
			<key>v</key>
			<string>04_complete</string>
		</dict>
		<dict>
			<key>k</key>
			<string>已结束</string>
			<key>v</key>
			<string>05_close</string>
		</dict>
		<dict>
			<key>k</key>
			<string>已流标</string>
			<key>v</key>
			<string>06_falied</string>
		</dict>
	</array>
	<key>bidInfoBudget</key>
	<array>
		<dict>
			<key>k</key>
			<string>1-5万</string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>5-8万</string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>8-10万</string>
			<key>v</key>
			<string></string>
		</dict>
	</array>
	<key>bidInfoHouseArea</key>
	<array>
		<dict>
			<key>k</key>
			<string>40㎡以下</string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>40-60㎡</string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>60-80㎡</string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>80-100㎡</string>
			<key>v</key>
			<string></string>
		</dict>
		<dict>
			<key>k</key>
			<string>100㎡以上</string>
			<key>v</key>
			<string></string>
		</dict>
	</array>
	<key>designerOrder</key>
	<array>
		<dict>
			<key>k</key>
			<string>人气（浏览量）</string>
			<key>v</key>
			<string>1</string>
		</dict>
		<dict>
			<key>k</key>
			<string>作品量</string>
			<key>v</key>
			<string>0</string>
		</dict>
		<dict>
			<key>k</key>
			<string>默认</string>
			<key>v</key>
			<string></string>
		</dict>
	</array>
	<key>caseOrder</key>
	<array>
		<dict>
			<key>k</key>
			<string>人气量降序 </string>
			<key>v</key>
			<string>11</string>
		</dict>
		<dict>
			<key>k</key>
			<string>点赞量</string>
			<key>v</key>
			<string>10</string>
		</dict>
		<dict>
			<key>k</key>
			<string>默认</string>
			<key>v</key>
			<string>0</string>
		</dict>
	</array>
	<key>designerSearchOrder</key>
	<array>
		<dict>
			<key>k</key>
			<string>人气（浏览量）</string>
			<key>v</key>
			<string>2</string>
		</dict>
		<dict>
			<key>k</key>
			<string>作品量</string>
			<key>v</key>
			<string>0</string>
		</dict>
		<dict>
			<key>k</key>
			<string>综合（默认）</string>
			<key>v</key>
			<string>4</string>
		</dict>
	</array>
	<key>bidInfoOrder</key>
	<array/>
	<key>designerDefaultParam</key>
	<dict>
		<key>order</key>
		<string></string>
		<key>style</key>
		<string></string>
		<key>experience</key>
		<string></string>
		<key>isRealNameAuth</key>
		<string></string>
		<key>levelCode</key>
		<string></string>
	</dict>
	<key>caseDefaultParam</key>
	<dict>
		<key>order</key>
		<string>0</string>
		<key>style</key>
		<string></string>
		<key>roomType</key>
		<string></string>
		<key>houseArea</key>
		<string></string>
	</dict>
	<key>designerSearchDefaultParam</key>
	<dict>
		<key>style</key>
		<string></string>
		<key>order</key>
		<string>4</string>
		<key>sex</key>
		<string></string>
		<key>levelCode</key>
		<string></string>
	</dict>
	<key>caseSearchDefaultParam</key>
	<dict>
		<key>order</key>
		<string>4</string>
		<key>roomType</key>
		<string></string>
		<key>houseArea</key>
		<string></string>
		<key>projectRoom</key>
		<string></string>
	</dict>
	<key>designerSection</key>
	<array>
		<dict>
			<key>k</key>
			<string>擅长风格</string>
			<key>v</key>
			<string>style</string>
		</dict>
		<dict>
			<key>k</key>
			<string>从业年限</string>
			<key>v</key>
			<string>experience</string>
		</dict>
		<dict>
			<key>k</key>
			<string>实名认证</string>
			<key>v</key>
			<string>isRealNameAuth</string>
		</dict>
		<dict>
			<key>k</key>
			<string>设计师称号</string>
			<key>v</key>
			<string>levelCode</string>
		</dict>
	</array>
	<key>caseSection</key>
	<array>
		<dict>
			<key>k</key>
			<string>擅长风格</string>
			<key>v</key>
			<string>style</string>
		</dict>
		<dict>
			<key>k</key>
			<string>户型</string>
			<key>v</key>
			<string>roomType</string>
		</dict>
		<dict>
			<key>k</key>
			<string>面积</string>
			<key>v</key>
			<string>houseArea</string>
		</dict>
	</array>
	<key>designerSearchSection</key>
	<array>
		<dict>
			<key>k</key>
			<string>擅长风格</string>
			<key>v</key>
			<string>style</string>
		</dict>
		<dict>
			<key>k</key>
			<string>性别</string>
			<key>v</key>
			<string>sex</string>
		</dict>
		<dict>
			<key>k</key>
			<string>设计师称号</string>
			<key>v</key>
			<string>levelCode</string>
		</dict>
	</array>
	<key>caseSearchSection</key>
	<array>
		<dict>
			<key>k</key>
			<string>擅长风格</string>
			<key>v</key>
			<string>style</string>
		</dict>
		<dict>
			<key>k</key>
			<string>户型</string>
			<key>v</key>
			<string>roomType</string>
		</dict>
		<dict>
			<key>k</key>
			<string>面积</string>
			<key>v</key>
			<string>houseArea</string>
		</dict>
		<dict>
			<key>k</key>
			<string>空间</string>
			<key>v</key>
			<string>projectRoom</string>
		</dict>
	</array>
	<key>bidInfoSection</key>
	<array>
		<dict>
			<key>k</key>
			<string>擅长风格</string>
			<key>v</key>
			<string>style</string>
		</dict>
		<dict>
			<key>k</key>
			<string>户型</string>
			<key>v</key>
			<string>roomType</string>
		</dict>
		<dict>
			<key>k</key>
			<string>项目面积</string>
			<key>v</key>
			<string>houseArea</string>
		</dict>
	</array>
	<key>bidInfoDefaultParam</key>
	<dict>
		<key>roomType</key>
		<string></string>
		<key>style</key>
		<string></string>
		<key>houseArea</key>
		<string></string>
	</dict>
</dict>
</plist>
