<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Case</key>
	<dict>
		<key>filterSection</key>
		<array>
			<dict>
				<key>k</key>
				<string>风格</string>
				<key>v</key>
				<string>projectStyle</string>
				<key>rows</key>
				<array>
					<dict>
						<key>k</key>
						<string>日式</string>
						<key>v</key>
						<string>japanese</string>
					</dict>
					<dict>
						<key>k</key>
						<string>韩式</string>
						<key>v</key>
						<string>kora</string>
					</dict>
					<dict>
						<key>k</key>
						<string>混搭</string>
						<key>v</key>
						<string>mashup</string>
					</dict>
					<dict>
						<key>k</key>
						<string>欧式</string>
						<key>v</key>
						<string>european</string>
					</dict>
					<dict>
						<key>k</key>
						<string>中式</string>
						<key>v</key>
						<string>chinese</string>
					</dict>
					<dict>
						<key>k</key>
						<string>新古典</string>
						<key>v</key>
						<string>newClassical</string>
					</dict>
					<dict>
						<key>k</key>
						<string>东南亚</string>
						<key>v</key>
						<string>eastSourthAsia</string>
					</dict>
					<dict>
						<key>k</key>
						<string>美式</string>
						<key>v</key>
						<string>america</string>
					</dict>
					<dict>
						<key>k</key>
						<string>田园</string>
						<key>v</key>
						<string>countryside</string>
					</dict>
					<dict>
						<key>k</key>
						<string>地中海</string>
						<key>v</key>
						<string>mediterranean</string>
					</dict>
					<dict>
						<key>k</key>
						<string>现代</string>
						<key>v</key>
						<string>modern</string>
					</dict>
					<dict>
						<key>k</key>
						<string>其他</string>
						<key>v</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>k</key>
				<string>户型</string>
				<key>v</key>
				<string>roomType</string>
				<key>rows</key>
				<array>
					<dict>
						<key>k</key>
						<string>一居室</string>
						<key>v</key>
						<string>R_1</string>
					</dict>
					<dict>
						<key>k</key>
						<string>两居室</string>
						<key>v</key>
						<string>R_2</string>
					</dict>
					<dict>
						<key>k</key>
						<string>三居室</string>
						<key>v</key>
						<string>R_3</string>
					</dict>
					<dict>
						<key>k</key>
						<string>四居室</string>
						<key>v</key>
						<string>R_4</string>
					</dict>
					<dict>
						<key>k</key>
						<string>五居室</string>
						<key>v</key>
						<string>R_5</string>
					</dict>
					<dict>
						<key>k</key>
						<string>loft</string>
						<key>v</key>
						<string>R_loft</string>
					</dict>
					<dict>
						<key>k</key>
						<string>复式</string>
						<key>v</key>
						<string>R_complex</string>
					</dict>
					<dict>
						<key>k</key>
						<string>别墅</string>
						<key>v</key>
						<string>R_villadom</string>
					</dict>
					<dict>
						<key>k</key>
						<string>小户型</string>
						<key>v</key>
						<string>R_little</string>
					</dict>
					<dict>
						<key>k</key>
						<string>其他</string>
						<key>v</key>
						<string>R_other</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>k</key>
				<string>面积</string>
				<key>v</key>
				<string>houseArea</string>
				<key>rows</key>
				<array>
					<dict>
						<key>k</key>
						<string>60m2以下</string>
						<key>v</key>
						<string>0,60</string>
					</dict>
					<dict>
						<key>k</key>
						<string>60-80m2</string>
						<key>v</key>
						<string>60,80</string>
					</dict>
					<dict>
						<key>k</key>
						<string>80-120m2</string>
						<key>v</key>
						<string>80,120</string>
					</dict>
					<dict>
						<key>k</key>
						<string>120m2以上</string>
						<key>v</key>
						<string>120,</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<key>Designer</key>
	<dict>
		<key>filterSection</key>
		<array>
			<dict>
				<key>k</key>
				<string>从业年限</string>
				<key>v</key>
				<string>experience</string>
				<key>rows</key>
				<array>
					<dict>
						<key>k</key>
						<string>2年以下</string>
						<key>v</key>
						<string>0,2</string>
					</dict>
					<dict>
						<key>k</key>
						<string>2-5年</string>
						<key>v</key>
						<string>2,5</string>
					</dict>
					<dict>
						<key>k</key>
						<string>6-10年</string>
						<key>v</key>
						<string>6,10</string>
					</dict>
					<dict>
						<key>k</key>
						<string>10年以上</string>
						<key>v</key>
						<string>10</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>k</key>
				<string>擅长风格</string>
				<key>v</key>
				<string>style</string>
				<key>rows</key>
				<array>
					<dict>
						<key>k</key>
						<string>混搭风格</string>
						<key>v</key>
						<string>mashup</string>
					</dict>
					<dict>
						<key>k</key>
						<string>欧式风格</string>
						<key>v</key>
						<string>european</string>
					</dict>
					<dict>
						<key>k</key>
						<string>中式风格</string>
						<key>v</key>
						<string>chinese</string>
					</dict>
					<dict>
						<key>k</key>
						<string>新古典风格</string>
						<key>v</key>
						<string>newClassical</string>
					</dict>
					<dict>
						<key>k</key>
						<string>东南亚风格</string>
						<key>v</key>
						<string>eastSourthAsia</string>
					</dict>
					<dict>
						<key>k</key>
						<string>美式风格</string>
						<key>v</key>
						<string>america</string>
					</dict>
					<dict>
						<key>k</key>
						<string>田园风格</string>
						<key>v</key>
						<string>countryside</string>
					</dict>
					<dict>
						<key>k</key>
						<string>地中海风格</string>
						<key>v</key>
						<string>mediterranean</string>
					</dict>
					<dict>
						<key>k</key>
						<string>现代风格</string>
						<key>v</key>
						<string>modern</string>
					</dict>
					<dict>
						<key>k</key>
						<string>其他</string>
						<key>v</key>
						<string>other</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>k</key>
				<string>快速索引</string>
				<key>v</key>
				<string>isRealNameAuth</string>
				<key>rows</key>
				<array>
					<dict>
						<key>k</key>
						<string>已实名认证</string>
						<key>v</key>
						<string>auth</string>
					</dict>
					<dict>
						<key>k</key>
						<string>未实名认证</string>
						<key>v</key>
						<string>unauth</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
